@model StudentViewModel

@{
    Layout = "_UniLayout";
}


<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Adding Student</span>
        </div>

        <div>
            <form method="post" asp-action="Create" class="row">
                <div class="mb-3">
                    <label asp-for="Student.FName" for="" class="form-label">Student First Name</label>
                    <input type="text"
                           asp-for="Student.FName"
                           class="form-control"
                           placeholder="" /><span asp-validation-for="Student.FName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Student.LName" for="" class="form-label">Student Last Name</label>
                    <input type="text"
                           asp-for="Student.LName"
                           class="form-control"
                           placeholder="" /><span asp-validation-for="Student.LName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Student.Email" for="" class="form-label">Email</label>
                    <textarea type="text"
                              asp-for="Student.Email"
                              class="form-control"
                              placeholder=""></textarea><span asp-validation-for="Student.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Student.Major" for="" class="form-label">Major</label>
                    <textarea type="text"
                              asp-for="Student.Major"
                              class="form-control"
                              placeholder=""></textarea><span asp-validation-for="Student.Major" class="text-danger"></span>
                </div>
           

              



                <div class="col-lg-12 d-flex justify-content-center  ">

                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>

        </div>
    </div>
</div>